div{

    nav{
        display: flex;
        justify-content: space-between;

        .mobiMarket-logo{
            margin-left: 3%;
            margin-top: 2%;
        }

        button{
            color: white;
            position: absolute;
            background: #5458EA;
            font-weight: 600;
            font-size: 17px;
            width: 15%;
            border-radius: 30px;
            margin-left: 68%;
            margin-top: 2%;
            padding: 13px;
            border: none;
            cursor: pointer;
        }

        div{
            // margin-left: 69%;
            // display: flex;
            // flex-direction: column;

            h3{
                color: #494949;
                margin-left: -7vh;
                margin-top: 27%;
                font-weight: 500;
            }

            p{
            color: #494949;
            margin-left: -100%;
            margin-top: -15%;
            font-size: 18px;

            }

        }
        .profile-icon{
        position: absolute;
        width: 8vh;
        margin-left: 93%;
        margin-top: 1%;

        }
    }

    .addProduct-modal{
        background-color: white;
        margin-left: 30%;
        margin-top: 19%;
        border-radius: 30px;
        width: 40%;
        height: 45%;
        border: none;
        outline: none;

        .remove-icon{
            cursor: pointer;
            position: absolute;
            margin-left: 37%;
            margin-top: 1%;
        }

        form{
            display: flex;
            flex-direction: column;
            gap: 8px;

            div{
                margin-left: 3%;
                margin-top: 9%;
            }

            .input-price{
                padding: 10px;
                font-size: 17px;
                background: #F7F6F9;
                border: none;
                width: 91%;
                margin-left: 3%;
                border-radius: 13px;
                margin-top: 2%;
            }

            input{
                padding: 10px;
                font-size: 17px;
                background: #F7F6F9;
                border: none;
                width: 91%;
                margin-left: 3%;
                border-radius: 13px;
                outline: none;
            }

            input::placeholder{
                color: #c0c0c0;
                left: 10%;
            }

            button:enabled{
                font-size: 17px;
                color: white;
                font-weight: 700;
                margin: auto;
                background: #5D5FEF;
                margin-top: 3%;
                width: 49%;
                padding: 2%;
                border-radius: 15px;
                border: none;
                cursor: pointer;
                transition: 0.2s;
            }

            button:disabled{
                font-size: 17px;
                color: #9CA4AB;
                font-weight: 700;
                margin: auto;
                background: #F7F7F8;
                margin-top: 3%;
                width: 49%;
                padding: 2%;
                border-radius: 15px;
                border: none;
                cursor: default;
                transition: 0.2s;
            }
        }
    }
}