div{
    .login-container,
    .register-container{
        display: flex;
    

    // LOGIN START

    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 13%;
        margin-top: -18%;
        gap: 26px;

        .name-input, 
        .password-input,
        .email-input{
            border: none;
            border-bottom: 1px solid #999;
            font-size: 17px;
            height: 3%;
            width: 43vh;
            outline: 0;
            margin-top: 4%;
        }

        .login-error-name{
            position: absolute;
            color: red;
            font-size: 15px;
            margin-top: -17vh;
        }

        .eye-disable, 
        .eye-active{
            position: absolute;
            margin-left: 40vh;
            margin-top: -3%;
            cursor: pointer;
        }

        .login-error-password{
            position: absolute;
            color: red;
            font-size: 15px;
            margin-top: 27px;
        }

        .forgot-password{
          margin-top: -3%;
            a{
            text-decoration: none;
            font-size: 14px;
            color: #5458EA;
            font-weight: 500;
            }
        }

        button:enabled{
            font-size: 16px;
            color: white;
            border: none;
            border-radius: 47px;
            padding: 4%;
            margin-top: 6%;
            background: #5458EA;
            font-weight: 600;
            cursor: pointer;
            transition: 0.2s;
        }

        button:disabled{
            font-size: 16px;
            color: white;
            border: none;
            border-radius: 47px;
            padding: 4%;
            margin-top: 6%;
            background: #bababa;
            font-weight: 600;
            cursor: default;
            transition: 0.2s;
        }

        .register-link{
            position: absolute;
            margin-left: 7%;
            margin-top: 49%;

                a{
            text-decoration: none;
            font-size: 14px;
            color: #5458EA;
            font-weight: 500;
                }
        }
    }
    //! LOGIN END


    
    
    // REGISTER START
    nav{
        position: absolute;
        display: flex;
        margin-left: 85%;
        
        .arrow-back{
            margin-top: 10%;
            margin-left: -218%;
            cursor: pointer;
        }
        
        p{
            margin-top: 12%;
            margin-left: 3%;
            font-weight: 500;
        }
        
        h3{
            color: #494949;
        margin-left: 73%;
        margin-top: 11%;
    }
    
    }

    form{
        .register-error-name{
            position: absolute;
            color: red;
            font-size: 15px;
            margin-top: -11vh         
        }
        
        .register-error-email{
            position: absolute;
            color: red;
            font-size: 15px;
            margin-top: 10vh
        }
    }

    h2{
        margin-left: 75%;
        margin-top: 13%;
    }

    .createPassword-form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: -4%;
         margin-left: 13%;
        gap: 1px;

        .password-icon{
            position: absolute;
            margin-top: -35%;
        }

        h3{
            color: #494949;
            font-size: 21px;
            font-weight: 500;
            margin-top: -2%;
        }
    
        .first-descr{
            color: #C0C0C0;
            font-size: 17px;
            margin-top: -3%;
        }
        
        .second-descr{
            color: #C0C0C0;
            font-size: 17px;
            margin-top: -6%;
        }

        .third-descr{
            color: #C0C0C0;
            font-size: 17px;
            margin-top: -6%;
        }

        .createdPassword-input{
            border: none;
            border-bottom: 1px solid #999;
            font-size: 17px;
            height: 30px;
            width: 42vh;
            margin-top: 3%;
            margin-left: 4%;
            outline: 0;
        }

        // .createdPassword-input::placeholder {
        //     transform: translateY(-20%);
        // }

    .eye-disable-new,
    .eye-active-new{
        position: absolute;
        cursor: pointer;
        margin-left: 41vh;
        margin-top: -10vh;
    }
    
    .confirmPassword-input{
        border: none;
        border-bottom: 1px solid #999;
        font-size: 17px;
        height: 30px;
        width: 42vh;
        margin-top: 16%;
        margin-left: 4%;
        outline: 0;
    }

    // .confirmPassword-input::placeholder {
    //     transform: translateY(-20%);
    // }

    .eye-disable-confirm,
    .eye-active-confirm{
        position: absolute;
        cursor: pointer;
        margin-left: 41vh;
        margin-top: 12vh;
    }
    
    .error-createdPassword{
        position: absolute;
        color: red;
        font-size: 15px;
        margin-top: 13%;
    }

    button{
        color: #9CA4AB;
        font-size: 17px;
        font-weight: bold;
        background: #bababa;
        border-radius: 30px;
        padding: 2%;
        width: 102%;
        border: none;
        margin-left: 4%;
        margin-top: 18% !important;
    }
    
    button:enabled{
        color: white;
        background: #5458EA;
        cursor: pointer;
        transition: 0.2s;
    }
    
    button:disabled{
        color: white;
        background: #bababa;
        cursor: default;
        transition: 0.2s;
    }


    }
    

    
    //! REGISTER END   
}

// PHONE NUMBER MODAL START
// .modal-overlay{
//     backdrop-filter: blur(2px);
//     background: rgba(0, 0, 0, 0.3);
// }
div.ReactModal__Overlay.ReactModal__Overlay--after-open{
    position: absolute !important;
    background: rgba(0, 0, 0, 0.4)!important;
    backdrop-filter: blur(2px);
    height: 132%;
}
.phoneNumber-modal{
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    margin-top: 17%;
    border-radius: 35px;
    width: 40%;
    height: 51%;
    border: none;
    outline: none;
    

h2{
    color: #494949;
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-top: 8%;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;

h3{
    color: #494949;
    font-size: 21px;
    font-weight: 500;
    margin-top: 1%;
}

p{
    color: #C0C0C0;
    font-size: 17px;
    margin-top: -3%;
}

p{
    color: #C0C0C0;
    font-size: 17px;
    margin-top: -3%;
}

input{
    color: #494949;
    font-family: inherit;
    font-size: 29px;
    margin-top: 2%;
    width: 40%;
    margin-left: 1%;
    font-weight: bold;
    outline: none;
    border: none;
}

button{
    color: #9CA4AB;
    font-size: 17px;
    font-weight: bold;
    background: #F7F7F8;
    border-radius: 15px;
    padding: 4%;
    width: 58%;
    margin-top: 9%;
    border: none;
}

button:enabled{
    color: white;
    background: #5458EA;
    cursor: pointer;
    transition: 0.2s;
}

button:disabled{
    color: #9CA4AB;
    background: #F7F7F8;
    cursor: default;
    transition: 0.2s;
}


}

}

.code-modal{
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    margin-top: 20%;
    border-radius: 35px;
    width: 40%;
    height: 43%;
    border: none;
    outline: none;

h2{
    color: #494949;
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-top: 8%;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;

h3{
    color: #494949;
    font-size: 21px;
    font-weight: 500;
    margin-top: 1%;
}

input{
    color: #494949;
    font-family: inherit;
    font-size: 29px;
    margin-left: 1%;
    margin-top: 1%;
    width: 20%;
    font-weight: bold;
    outline: none;
    border: none;
}

.timer{
    color: #C0C0C0;
    display: flex;
    flex-direction: column;
    align-items: center;

.timer-circle{
    width: 20px;
    height: 20px;
    background-color: #C0C0C0;
    border-radius: 50%;
    animation: pulse 0.99s infinite;
}
}
@keyframes pulse {
    0%, 100% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.2);
      opacity: 0.5;
    }
  }

.send-code-again{
    color: #5458EA;
    font-size: 17px;
    font-weight: 500;
    margin-top: 4%;
    cursor: pointer;
}



}



}

//! PHONE NUMBER MODAL END 

// NEW PASSWORD MODAL START
.newPassword-modal{
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    margin-top: 15%;
    border-radius: 35px;
    width: 40%;
    height: 60%;
    border: none;
    outline: none;

    h2{
        color: #494949;
        display: flex;
        justify-content: center;
        font-size: 25px;
        margin-top: 8%;
    }

    .black-eye-disable,
    .black-eye-active{
        position: absolute;
        margin-left: 62vh;
        margin-top: 6vh;
        background: #f2f2f2;
        padding: 2px 10px;
        border-radius: 43px;
        cursor: pointer;
    }

    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3%;
    
    h3{
        color: #494949;
        font-size: 21px;
        font-weight: 500;
        margin-top: 0%;
    }

    p{
        color: #C0C0C0;
        font-size: 17px;
        margin-top: -3%;
    }
    
    p{
        color: #C0C0C0;
        font-size: 17px;
        margin-top: -3%;
    }

    .newPassword-input
    {
        border: none;
        border-bottom: 1px solid #999;
        font-size: 17px;
        // height: 10%;
        width: 43vh;
        outline: 0;
        margin-top: 4%;
        margin-left: 1%;

    }
    .eye-disable-new,
    .eye-active-new{
        position: absolute;
        margin-top: 30vh;
        margin-left: 22%;
        cursor: pointer;
    }

    .newPassword-input::placeholder {
        transform: translateY(-20%);
      }
      

    .confirmPassword-input{
        border: none;
        border-bottom: 1px solid #999;
        font-size: 17px;
        // height: 10%;
        width: 43vh;
        outline: 0;
        margin-top: 10%;
        margin-left: 1%;
    }

    .confirmPassword-input::placeholder {
        transform: translateY(-21%);
      }

    .eye-disable-confirm,
    .eye-active-confirm{
        position: absolute;
        margin-top: 40vh;
        margin-left: 22%;
        cursor: pointer;
    }

    .error-newPassword{
    position: absolute;
    color: red;
    font-size: 15px;
    margin-top: 25%;
    }
    
    button{
        color: #9CA4AB;
        font-size: 17px;
        font-weight: bold;
        background: #F7F7F8;
        border-radius: 30px;
        padding: 2%;
        width: 59%;
        margin-top: 13%;
        border: none;
    }
    
    button:enabled{
        color: white;
        background: #5458EA;
        cursor: pointer;
        transition: 0.2s;
    }
    
    button:disabled{
        color: white;
        background: #bababa;
        cursor: default;
        transition: 0.2s;
    }

      


      



}

    
}
//! NEW PASSWORD MODAL END  
}