div{
    .register-container{
        display: flex;
    }

    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 13%;
        margin-top: -17%;
        gap: 26px;

        .name-input, .password-input{
            border: none;
            border-bottom: 1px solid #e0e0e0;
            font-size: 17px;
            height: 3%;
            width: 43vh;
            outline: 0;
        }

        .forgot-password{
          margin-top: -3%;
            a{
            text-decoration: none;
            font-size: 14px;
            color: #5458EA;
            font-weight: 500;
            }
        }

        button{
            font-size: 16px;
            color: white;
            border: none;
            border-radius: 47px;
            padding: 4%;
            background: #bababa;
            font-weight: 600;
        }

        .register-link{
            position: absolute;
            margin-left: 7%;
            margin-top: 48%;

                a{
            text-decoration: none;
            font-size: 14px;
            color: #5458EA;
            font-weight: 500;
                }
        }
    }
}