div{
    .register-container{
        display: flex;
    }

    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 13%;
        margin-top: -17%;
        gap: 26px;

        .name-input, .password-input{
            border: none;
            border-bottom: 1px solid #999;
            font-size: 17px;
            height: 3%;
            width: 43vh;
            outline: 0;
        }

        .login-error-name{
            position: absolute;
            color: red;
            font-size: 15px;
            margin-top: -15vh;
        }

        .eye-disable, 
        .eye-active{
            position: absolute;
            margin-left: 40vh;
            margin-top: -4%;
            cursor: pointer;
        }

        .login-error-password{
            position: absolute;
            color: red;
            font-size: 15px;
            margin-top: 21px;
        }

        .forgot-password{
          margin-top: -3%;
            a{
            text-decoration: none;
            font-size: 14px;
            color: #5458EA;
            font-weight: 500;
            }
        }

        button:enabled{
            font-size: 16px;
            color: white;
            border: none;
            border-radius: 47px;
            padding: 4%;
            background: #5458EA;
            font-weight: 600;
            cursor: pointer;
            transition: 0.2s;
        }

        button:disabled{
            font-size: 16px;
            color: white;
            border: none;
            border-radius: 47px;
            padding: 4%;
            background: #bababa;
            font-weight: 600;
            cursor: default;
            transition: 0.2s;
        }

        .register-link{
            position: absolute;
            margin-left: 7%;
            margin-top: 48%;

                a{
            text-decoration: none;
            font-size: 14px;
            color: #5458EA;
            font-weight: 500;
                }
        }
    }
}